@import "tailwindcss";

:root {
  --font-geist: "Geist", system-ui, sans-serif;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db transparent;
}
